{% extends "blog_app/base.html" %}

{% block body %}
    <div>
        <h1>Hello, world.</h1>
        <p>You're at the home page.</p>
    </div>

    <div>
        {% for post in posts %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date|date:"d E Y, H:m" }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
              </div>
            </article>
        {% endfor %}
    </div>
{% endblock body %}
